@import "assets/styles/base/base.scss";

:host {
  @include flex-box();
  @include flex-direction(column);
  @include flex(1 1 auto);
  overflow: hidden;
}

.top-container {
  padding-right: 0;
}

.bottom-container {
  @include flex-box();
  overflow: hidden;

  .container {
    @include flex-box();
    padding-bottom: 1.5rem;
  }
}

.pane {
  @include flex-box();
  @include flex-direction(column);
}

.pane-header {
  @include flex-box();
  padding: 1rem;
  border-bottom: 1px solid #eee;

  h2 {
    @include flex(1 1 auto);
    margin-top: 0.65rem;
    font-size: 1.25rem;
    white-space: nowrap;
  }

  .form-control {
    width: 8rem;
  }
}

.pane-scroll {
  @include flex( 1 1 auto);
  overflow-y: auto;
}

.pane-footer {
  @include flex(0 0 auto);
  padding: 1rem;
  background: #f7f8fa;
}

.review-comments {
  @include flex-box();
  flex: 1 1 auto;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0.02rem 0 0.2rem rgba(0, 0, 0, 0.15);
}

// Comment Layout
.comment-list {
  @include flex(0 0 auto);
  width: 20rem;
  border-right: 1px solid #eee;
}

.comment-review {
  @include flex(1 1 auto);
}

.sort-by-input {
  .input-group-text,
  .form-control {
    font-size: 0.875rem;
  }
}

h2 {
  margin-bottom: 0;
  letter-spacing: -0.02rem;
  font-size: 1.5rem;
  font-weight: 600;
}

// Comment Item
.comment-item {
  position: relative;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid #eee;
  font-size: 0.875rem;
  transition: all ease-out 0.2s;

  &:after {
    content: ' ';
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    width: 0.25rem;
    background-color: transparent;
    transition: all ease-out 0.2s;
  }
}

.comment-item.active {
  background: #f7f8fa;

  &:after {
    background-color: #007bff;
  }
}

.comment-item:hover {
  background: #f7f8fa;
}

.comment-item-header {
  @include flex-box();
}

.comment-author {
  @include flex(1 1 auto);
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 700;
}

.comment-date {
  color: #999;
  font-size: 85%;
}

.comment-body {
  @include flex(1 1 auto);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment-date {
  @include flex(0 0 auto);
  white-space: nowrap;
}

.review-comments {
    .title-container {
        height: 50px; // to match app details/edit pages
    }
    .header-row {
        .btn {
            border: none;
            background: $lightgray;
            font-size: 0.9375rem;
            font-weight: bold;
            img, i {
                margin-top: -0.15rem;
            }
        }
    }
    main {
        section {
            padding: 1.5rem;
            section {
                padding: 0;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__list {
        @include clearfix();
        li {
            width: 50%;
            float: left;
            padding-top: 1rem;
            &.full-width {
                width: 100%;
            }
            .name,
            .value {
                display: block;
            }
            .name {
                font-weight: bold;
            }
        }
    }
}

.review-comments-body {
    padding-top: 0;
    nav {
        margin-bottom: 1rem;
        .list-group {
            max-height: 55rem; // match this with comment-detail height
            overflow-y: auto;
        }
        .list-group-item {
            cursor: pointer;
            margin: 0;
            &:nth-child(odd) {
                border: #f0f0f0 2px solid;
                background: #f0f0f0;
            }
            &:nth-child(even) {
                border: #e7e7e7 2px solid;
                background: #e7e7e7;
            }
            &:active,
            &:focus,
            &:hover {
                color: #495057;
                border-color: $primary;
                font-weight: 700;
            }
            &.active {
                color: #495057;
                border-color: $primary;
                border-right: $gold 10px solid;
                font-weight: 700;
            }
            .badge {
                width: 5rem;
                line-height: 1.5;
                text-align: center;
            }
        }
    }
}

@media (min-width: 992px) {
    article {
        margin-top: 2rem;
    }
}